
#events-container {

    section {
        margin-top: 35px;
    }

    h2 {
        color: $tertiary-color;
        background-color: #fff;
        padding: 2px 0;
        width: 120px;
        margin: 0 auto;
    }

    article {
        margin: 2rem 0;
    }

    h3 {
        text-align: left;
        margin-bottom: 0;
        font-size: 18px;
    }
}